<h1>No messaged found error 404</h1>
{{#each messages}}
<p>{{fullname}}</p>
<p>{{email}}</p>
<p>{{message}}</p>
<small>{{date}}</small>
<hr>
{{else}}
<p>No messages..</p>
{{/each}}
<a href ="/"><button class="btn btn-danger">Go Back</button></a>